<!--
home.html - This is the home screen template which displays the book search bar and the book list.
-->
{% extends 'base.html' %}

{% block content %}
  <h2> Book List </h2>
  <p>
    <form action="{% url 'home' %}" method="get">
      <input name="q" type="text" placeholder="Enter text here">
    </form>
  </p>
  <h6> Search by Title or Author </h6>

<table class="table mb-0">
  <thead>
    <tr>
      <th>Book Title</th>
      <th>Book Author</th>
      <th>Published Date</th>
      <th>Places to Purchase</th>
      <th>Lowest Price Available</th>
    </tr>
  </thead>
  <tbody>
    {% for book in object_list %}
    <tr>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.published_date }}</td>
      <td>{{ book.places_to_purchase }}</td>
      <td>{{ book.lowest_price }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endblock %}
